/* body init */
body {
    margin: 0;
    color: black;
    font-family: 'Raleway', sans-serif;
    background: #fff;
}
/* end body init */
/* padding, margin, position*/
.mr-0 {
    margin-right: 0 !important;
}

.mr-20 {
    margin-right: 20px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.pt-30 {
    padding-top: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mar-lr {
    margin: 0 128px;
}
/* end of padding, margin */
/* navbar */
nav {
    width: 100%;
    background: #fafafa;
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    line-height: 35px;
}

.logo-container {
    margin-right: 20px;
}

.aka-logo {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: relative;
    width: 95px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.7px;
    height: 50px;
    outline: none !important;
}

.aka-logo span {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: left;
    letter-spacing: -2.7px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 3px;
}
/* MENU */
.menu-container {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
}

ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

ul.menu li.menu-item {
    list-style: none;
    display: inline;
    position: relative;
    margin: 10px 20px 10px 10px;
}

ul.menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
}

ul.menu li.menu-item>a::before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 2px #afafaf solid ;
    width: 0%;
    bottom: 0;
    left: 50%;
    transition: linear .5s;
}

ul.menu li.menu-item>a::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 2px #afafaf solid ;
    width: 0%;
    bottom: 0;
    right: 50%;
    transition: linear .5s;
}

ul.menu li.menu-item a:hover::before, ul.menu li.menu-item a:hover::after {
    width: 50%;
}

/* end menu */
/* sub menu */
.sub-menu {
    position: absolute;
    top: 35px;
    left: -10px;
    width: 200px;
    height: auto;
    display: none;
    background: #fff;
    z-index: 2;
    padding: 0;
    overflow: hidden;
}

.sub-menu li {
    float: left;
    width: 100% !important;
    height: 25px;
    margin: 0 !important;
    padding: 0 0 5px 10px;
    border-bottom: 1px #afafaf solid;
}

.sub-menu li a {
    text-align: left;
    color: #fff;
}

.sub-menu li:hover {
    background: #afafaf;
}

ul.menu li.menu-item:hover ul.sub-menu{
    display: block;

}
/* end sub menu */
/* end nav bar */

/* HUGE BANNER */
.aka-banner-container {
    width: 100%;
    height: 100vh;
    background-image: url(../sources/banner-4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.aka-banner-container::before {
    content: "";
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.aka-intro {
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 128px;
    width: 800px;
}

.aka-intro h1 {
    margin: 0;
    font-family: 'Francois One', sans-serif;
    font-size: 90px;
    font-weight: 500;
    width: 700px;
}

.headline {
    font-size: 23px;
    width: 540px;
}

.headline span {
    display: block;
    margin: 20px 0 10px 0;
}

.typing-contain {
    position: relative;
}

p .typing{
    animation: wordType 7s steps(33) infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px #fff solid;
    width: 377px;
    position: absolute;
    top: -20px;
    left: 152px;
}

.iconify {
    color: #fff;
    font-size: 30px;
    animation: bouncy 3s infinite ease-in-out;
    
}

.chevron-down {
    position: absolute;
    z-index: 5;
    top: 80%;
    left: 128px;
}
/* main */
.context-container {
    width: 80%;
    margin: 0 128px;
    padding: 50px 0 100px;
}

/*  animation */
@keyframes bouncy {
    0%, 100% {
        transform: translateY(-20px);
    }
    25%, 50%, 75% {
        transform: translateY(0px);
    }
    15%, 40%, 65% {
        transform: translateY(10px);
    }
}

/* FOOTER */
footer {
    background: #000;
    min-height: 200px;
}

.policy {
    margin: 0 128px;
    padding: 50px 0;
    border-bottom: 1px #f2f2f2 solid;
}

.policy a {
    text-decoration: none;
    color: #f2f2f2;
    text-align: left;
}

.policy a:hover {
    color: #0000ff;
}

.copyright {
    color: white;
    padding: 30px 0;
}

.copyright p {
    text-align: center;
}
